//  ·██████╗·██████╗·██╗······██████╗·██████╗·
//  ██╔════╝██╔═══██╗██║·····██╔═══██╗██╔══██╗
//  ██║·····██║···██║██║·····██║···██║██████╔╝
//  ██║·····██║···██║██║·····██║···██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║··██║
//  ·╚═════╝·╚═════╝·╚══════╝·╚═════╝·╚═╝··╚═╝

$brand_1: #0ead69;
$brand_2: #cd6ef0;

$dark-1: #121212;
$dark-2: #212121;
$light: #dcdcdd;
