//  ████████╗██╗···██╗██████╗··██████╗·
//  ╚══██╔══╝╚██╗·██╔╝██╔══██╗██╔═══██╗
//  ···██║····╚████╔╝·██████╔╝██║···██║
//  ···██║·····╚██╔╝··██╔═══╝·██║···██║
//  ···██║······██║···██║·····╚██████╔╝
//  ···╚═╝······╚═╝···╚═╝······╚═════╝·

$title_fonts: 'Ranchers', cursive;
$text_fonts: 'Quicksand', sans-serif;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.2rem;
$p:.9rem;

$bolder:600;
$normal:400;
