.character__inner {
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  p {
    font-weight: $bolder;
  }
  span {
    font-weight: $normal;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 2fr;
  }
}