.pagination {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  a {
    &#prev-page,
    &#next-page{
      line-height: 42px;
    }
    display: inline-block;
    color: $light;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 2px;
    text-align: center;
    line-height: 30px;
    margin: 0;
    &.active {
      background-color: $brand-1;
      color: white;
    }
    &:hover:not(.active) { background-color:$brand-1; }
  }
}