header {
  .header__container {
    height: 100vh;
    background-image: url('./images/rick-and-morty-banner.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
      width: 90%;
    }
    h1 {
      margin: 0;
      text-shadow: 5px 8px 8px rgba(0,0,0,.1);
    }
  }
}